<h1>Demo#hello</h1>
<p>Hello from hello.html.erb!</p>

<%= 1+1 %>
<br>
<% target = "world" %>
<%= "Hello #{target}" %>

<% @array.each do |n| %>
<%= n %>
<% end %>

<br>

<a href="/demo/index">Hello page 1</a><br>
<%= link_to('Hello page 2', {:action => 'index'}) %>

<br>
ID: <%= params[:id] %><br>
ID: <%= @id %><br>
Next Page: <%= @page + 1%>

<hr>
<%= params.inspect %>
