<div>
  <%= label_tag(:username, nil, :class => 'sr-only') %>
  <%= text_field_tag(:username, nil, :class => 'form-control', :placeholder => 'Username') %>
</div>
<div>
  <%= label_tag(:password, nil, :class => 'sr-only') %>
  <%= password_field_tag(:password, nil, :class => 'form-control', :placeholder => 'Password') %>
</div>
