<% provide(:title, "Admin Login") %>

<div class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <%= form_tag(:action => 'attempt_login') do %>

    <%= render(:partial => 'form') %>

    <div>
      <%= submit_tag("Log In", class: "btn btn-lg btn-primary btn-block") %>
    </div>

  <% end %>
</div>
