<%= error_messages_for(@section) %>

<table class="table" summary="Section form fields">
  <tbody>
    <tr>
      <th>Page ID</th>
      <td><%= f.text_field(:page_id) %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= f.text_field(:position) %></td>
    </tr>
    <tr>
      <th>Visible</th>
      <td><%= f.text_field(:visible) %></td>
    </tr>
    <tr>
      <th>Content Type</th>
      <td><%= f.text_field(:content_type) %></td>
    </tr>
    <tr>
      <th>Content</th>
      <td><%= f.text_field(:content) %></td>
    </tr>
  </tbody>
</table>
