<%= link_to("Back to List", {:action => 'index'}, :class => 'back-to-link') %>

<section class="row">
  <div class="large-12 columns">
    <div class="sections delete">
      <h2>Delete Section</h2>

      <%= form_for(:section, :url => {:action => 'destroy', :id => @section.id}) do |f| %>

        <p>Are you sure you want to permanently delete this section?</p>
        <p class="reference-name"><%= @section.name %></p>
        <%= submit_tag("Delete Section", :class => "btn btn-primary btn-sm")%>

      <% end %>

    </div>
  </div>
</section>
