<%= link_to("Back to List", {:action => 'index'}, :class => 'back-to-link') %>

<section class="row">
  <div class="large-12 columns">
    <div class="sections edit">
      <h2>Update Section</h2>

      <%= form_for(:section, :url => {:action => 'update', :id => @section.id}) do |f| %>
        <%= render(:partial => 'form', :locals => {:f => f}) %>
        <%= submit_tag("Update Section", :class => "btn btn-primary btn-sm")%>
      <% end %>

    </div>
  </div>
</section>
