<% provide(:title, "Sections") %>


<section class="row">
  <div class="large-12 columns">
    <div class="sections index">
      <h2>Sections</h2>

      <table class="listing table" summary="Section list">

        <thead>
          <tr class="header">
            <th>&nbsp;</th>
            <th>Page ID</th>
            <th>Section</th>
            <th>Content Type</th>
            <th>Visible</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @sections.each do |section| %>
            <tr>
              <td><%= section.position %></td>
              <td><%= section.page_id %></td>
              <td><%= section.name %></td>
              <td><%= section.content_type %></td>
              <td class="center"><%= section.visible ? 'Yes' : 'No' %></td>
              <td class="actions">
                <%= link_to("Show", {:action => 'show', :id => section.id}, :class => 'action show') %>
                <%= link_to("Edit", {:action => 'edit', :id => section.id}, :class => 'action edit') %>
                <%= link_to("Delete", {:action => 'delete', :id => section.id}, :class => 'action delete') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <%= link_to("Add New Section", {:action => 'new'}, :class => 'action new btn btn-primary btn-sm') %>

    </div>
  </div>
</section>
