<%= link_to("Back to List", {:action => 'index'}, :class => 'back-to-link') %>

<section class="row">
  <div class="large-12 columns">
    <div class="sections show">

      <table class="table" summary="Section detail view">
        <tbody>
          <tr>
            <th>Page ID</th>
            <th><%= @section.page_id %></th>
          </tr>
          <tr>
            <th>Name</th>
            <th><%= @section.name %></th>
          </tr>
          <tr>
            <th>Position</th>
            <th><%= @section.position %></th>
          </tr>
          <tr>
            <th>Visible?</th>
            <th><%= @section.visible ? 'true' : 'false' %></th>
          </tr>
          <tr>
            <th>Content Type</th>
            <th><%= @section.content_type %></th>
          </tr>
          <tr>
            <th>Content</th>
            <th><%= @section.content %></th>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>
