<%= error_messages_for(@page) %>

<table class="table" summary="Page form fields">
  <tbody>
    <tr>
      <th>Subject ID</th>
      <td><%= f.text_field(:subject_id) %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
      <th>Permalink</th>
      <td><%= f.text_field(:permalink) %></td>
    </tr>

    <tr>
      <th>Position</th>
      <td><%= f.text_field(:position) %></td>
    </tr>
    <tr>
      <th>Visible</th>
      <td><%= f.text_field(:visible) %></td>
    </tr>
  </tbody>
</table>
