<%= link_to("Back to List", {:action => 'index'}, :class => 'back-to-link') %>

    <div class="pages delete">
      <h2>Delete Page</h2>

      <%= form_for(:page, :url => {:action => 'destroy', :id => @page.id}) do |f| %>

        <p>Are you sure you want to permanently delete this page?</p>
        <p class="reference-name"><%= @page.name %></p>
        <%= submit_tag("Delete Page", :class => "btn btn-primary btn-sm")%>

      <% end %>

    </div>
