<%= link_to("Back to List", {:action => 'index'}, :class => 'back-to-link') %>

<section class="row">
  <div class="large-12 columns">
    <div class="pages edit">
      <h2>Update Page</h2>

      <%= form_for(:page, :url => {:action => 'update', :id => @page.id}) do |f| %>
        <%= render(:partial => 'form', :locals => {:f => f}) %>
        <%= submit_tag("Update Page", :class => "btn btn-primary btn-sm")%>
      <% end %>

    </div>
  </div>
</section>
