<%= link_to("Back to List", {:action => 'index'}, :class => 'back-to-link') %>

<section class="row">
  <div class="large-12 columns">
    <div class="pages show">

      <table class="table" summary="Page detail view">
        <tbody>
          <tr>
            <th>Subject ID</th>
            <th><%= @page.subject_id %></th>
          </tr>
          <tr>
            <th>Name</th>
            <th><%= @page.name %></th>
          </tr>
          <tr>
            <th>Position</th>
            <th><%= @page.position %></th>
          </tr>
          <tr>
            <th>Visible?</th>
            <th><%= @page.visible ? 'true' : 'false' %></th>
          </tr>
          <tr>
            <th>Permalink</th>
            <th><%= @page.permalink %></th>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>
