<%= link_to("Back to List", {:action => 'index'}, :class => 'back-to-link') %>

<section class="row">
  <div class="large-12 columns">
    <div class="subjects delete">
      <h2>Delete Subject</h2>

      <%= form_for(:subject, :url => {:action => 'destroy', :id => @subject.id}) do |f| %>

        <p>Are you sure you want to permanently delete this subject?</p>
        <p class="reference-name"><%= @subject.name %></p>
        <%= submit_tag("Delete Subject", :class => "btn btn-primary btn-sm")%>

      <% end %>

    </div>
  </div>
</section>
