<% provide(:title, "Subjects") %>

<section class="row">
  <div class="large-12 columns">
    <div class="subjects index">
      <h2>Subjects</h2>

      <table class="listing table" summary="Subject list">

        <thead>
          <tr class="header">
            <th>&nbsp;</th>
            <th>Subject</th>
            <th>Visible</th>
            <th>Pages</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @subjects.each do |subject| %>
            <tr>
              <td><%= subject.position %></td>
              <td><%= subject.name %></td>
              <td class="center"><%= subject.visible ? 'Yes' : 'No' %></td>
              <td class="center"><%= subject.pages.size %></td>
              <td class="actions">
                <%= link_to("Show", {:action => 'show', :id => subject.id}, :class => 'action show') %>
                <%= link_to("Edit", {:action => 'edit', :id => subject.id}, :class => 'action edit') %>
                <%= link_to("Delete", {:action => 'delete', :id => subject.id}, :class => 'action delete') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to("Add New Subject", {:action => 'new'}, :class => 'action new btn btn-primary btn-sm') %>

    </div>
  </div>
</section>
