<%= link_to("Back to List", {:action => 'index'}, :class => 'back-to-link') %>

<section class="row">
  <div class="large-12 columns">
    <div class="subjects show">

      <table class="table" summary="Subject detail view">
        <tbody>
          <tr>
            <th>Name</th>
            <th><%= @subject.name %></th>
          </tr>
          <tr>
            <th>Position</th>
            <th><%= @subject.position %></th>
          </tr>
          <tr>
            <th>Visible?</th>
            <th><%= @subject.visible ? 'true' : 'false' %></th>
          </tr>
          <tr>
            <th>Created</th>
            <th><%= @subject.created_at %></th>
          </tr>
          <tr>
            <th>Updated</th>
            <th><%= @subject.updated_at %></th>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>
