<% if object && object.errors.size > 0 %>
<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    <p><%= pluralize(object.errors.size, "error") %> prohibited this record from being saved.<br>
      There were problems with the following fields:</p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class="form-error"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
