<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

  </head>
  <body>

    <% if !flash[:notice].blank? %>
      <div class="alert alert-success alert-dismissible fade in" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    <% end %>


    <div class="container">
      <div class="site-wrapper">
        <div class="site-wrapper-inner">
          <div class="cover-container">

            <%= yield %>
            <%= render 'layouts/footer' %>

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
